@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.header {
    background-color: #1e1e29;
    padding: 14px 20px;
    position: relative;
    width: 100%;
}

.container {
    max-width: 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-menu-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-large {
    padding: 12px;
}

.small-logo {
    display: none;
}

.small-logo-in-responsive {
    display: none;
}

.large-logo {
    display: block;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #c5c5d3;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
}

.menu-item {
    margin-left: 20px;
}

.menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #c5c5d3;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.menu-link:hover {
    color: #7771aa;
}

.menu-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.login-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 0;
}

.login-button {
    border-radius: 8px;
    color: #21212e;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    background-color: #c5c5ff;
    margin: 0 45px;
}

.login-button:hover {
    background-color: #d9d9fd;
}

.login-button-icon {
    margin-right: 0.5em;
    width: 1.5em;
    height: auto;
}

.login-button-text {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
}

.small-logo-wrapper {
    display: none;
}

/* Стили для блок-обертки */

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.blocks-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.block {
    flex: 1;
    margin-right: 2px;
    box-sizing: border-box;
}

.colored-sections {
    display: flex;
    flex-wrap: nowrap;
    gap: 2px;
}

.icon-wrapper {
    position: relative;
    display: inline-block;
}

.colored-section {
    position: relative;
    width: 170px;
    height: 120px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, rgba(47, 85, 68, 0.9), rgba(37, 59, 54, 0.5)), url('iconBg.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.colored-section:hover {
    background-image: linear-gradient(to bottom, rgba(47, 85, 68, 0.9), rgba(52, 83, 76, 0.5)), url('iconBg.svg');
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 90px;
    height: 80px;
    pointer-events: none;
}

.second-section,
.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282836;
    height: 59px;
    border-radius: 3px;
    width: 100%;
    min-width: 50px;
    max-width: 100px;
    flex-shrink: 0;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282836;
    border-radius: 3px;
    width: 70px;
    min-width: 80px;
    max-width: 100px;
    flex-shrink: 0;
}

.first-section:hover,
.second-section:hover,
.third-section:hover {
    background-color: #2b2b3a;
}

.vertical-sections {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.wifi-button-icon {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    animation: fadeInOut 2s ease infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}

.wifi-count {
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.wifi-online {
    font-size: 10px;
    text-transform: uppercase;
    color: dimgrey;
}

.crown-icon,
.cube-icon {
    width: 15px;
    height: 15px;
}

@media (max-width: 768px) {
    .small-logo-wrapper {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .small-logo {
        width: 30px;
        height: auto;
    }

    .large-logo {
        display: none;
    }

    .small-logo-in-responsive {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        background-color: #1e1e29;
        padding: 10px 0;
        flex-direction: column;
        z-index: 10;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.menu-open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu-item {
        margin: 5px 0;
        padding: 10px 20px;
    }


    .block-wrapper {
        width: 70%;
        height: 70%;
    }

    .login-button {
        transform: scale(0.7);
    }
}

@media (max-width: 1200px) {
    .login-button {
        transform: scale(0.9);
    }
}

@media (max-width: 992px) {
    .login-button {
        transform: scale(0.8);
    }
}

.profile-greeting {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 40px;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: #c5c5d3;
}

.logout {
    width: 15px;
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}

.logout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

.logout-modal p {
    margin-bottom: 10px;
}

.logout-modal button {
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}
