.events-section {
    position: relative;
    padding: 60px;
    background-color: #1e1e29;
    margin-top: 5px;
    background-image: url('https://rustbox.io/assets/event/scrap/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 565px;
    display: flex;
}

.small-icon {
    position: absolute;
    top: 80px;
    height: 50%;
    left: 10%;
}

.small-icon-container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c5c5d3;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.right-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #c5c5d3;
    padding: 20px;
    z-index: 2;
}

.events-section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #c5c5d3;
    position: relative;
    z-index: 2;
}

.events {
    display: flex;
    justify-content: space-around;
    color: #c5c5d3;
    position: relative;
    z-index: 2;
}

.event {
    width: 30%;
    height: 200px;
    background: #1e1e29;
    padding: 20px;
    border-radius: 10px;
    margin-right: 40%;
    z-index: 2;
}

.event h3 {
    margin-top: 0;
}

.event p {
    margin-bottom: 0;
}

.event-button {
    cursor: pointer;
    margin-top: 300px;
    margin-left: 40%;
    color: #21212e;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 800;
    width: 190px;
    height: 70px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to bottom, #fbb472, #b27b4d);
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #242430;
}

::-webkit-scrollbar-thumb {
    background-color: #43435a;
    border-radius: 10px;
}

