.profile {
    background-color: #1a1a25;
    display: flex;
    justify-content: center;
    height: 20vh;
    margin-top: 15vh;
    overflow: hidden;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282836;
    margin-left: 1vh;
    margin-right: 1vh;
    border-radius: 10px;
    max-width: 350px;
}

.avatar {
    border-radius: 50%;
    width: 20%;
}

.profile-name, .profile-email {
    padding: 5px;
    color: #c5c5d3;
    margin-left: 10px;
    font-weight: 550;
    font-size: 13px;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-balance {
    color: #c5c5d3;
}