.profile {
    background-color: #1a1a25;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    overflow: hidden;
}

.section1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #282836;
    border-radius: 10px;
}

.profile-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-left {
    display: flex;
    align-items: center;
}

.profile-right {
    display: flex;
    color: #c5c5d3;
    font-weight: bold;
    font-size: 15px;
    justify-content: end;
    min-width: 300px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.input-field {
    flex: 1;
    padding: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    color: #69697e;
    background-color: #323245;
}

.save-button {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #323245;
    color: #c4c4d2;
    font-weight: bold;
    cursor: pointer;
}

.save-button:hover {
    background-color: #353549;
    border: none;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282836;
    border-radius: 10px;
}

.avatar {
    border-radius: 20%;
    width: 25%;
}

.profile-details {
    display: flex;
    flex-direction: column;
    color: #c5c5d3;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.profile-balance {
    margin-top: 5px;
}

.button2, .button3, .button4 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 60px;
    border-radius: 10px;
    margin-right: 5px;
    border: none;
    background-color: #323245;
    cursor: pointer;
    min-width: 60px;
}

.button2 {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 7px;
    height: 60px;
    border-radius: 10px;
    margin-right: 5px;
    border: none;
    background-color: #68dca4;
    cursor: pointer;
    position: relative;
}

.button2 .wallet-icon {
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/wallet.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button1 {
    display: grid;
    padding: 10px;
    width: 15vh;
    height: 60px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #282836;
    color: #c5c5d3;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #575773;
    cursor: pointer;
    min-width: 150px;
}

.button1:hover {
    border: 1px solid #717195;
}

.info-id {
    font-size: 10px;
    color: #575773;
}

.info-button {
    color: #575773;
}

.paper-icon {
    margin-bottom: -5px;
}

.section1, .section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282836;
    margin: 5px;
    border-radius: 10px;
    padding: 30px;
}

@media (max-width: 1250px) {
    .section1, .section {
        flex-direction: column;
        width: 90%;
    }
}

@media (max-width: 800px) {
    .profile {
        flex-direction: column;
    }

    .avatar {
        width: 8%;
        margin-bottom: 20px;
    }

    .profile-details {
        font-size: 25px;
    }

    .section1, .section {
        min-height: 100px;
        align-items: center;
        padding: 4%;
    }
}

@media (max-width: 580px) {
    .section1, .section {
        align-items: center;
        min-height: 100px;
        padding: 4%;
    }

    .profile-top {
        flex-direction: column;
        align-items: center;
    }

    .profile-left, .profile-right {
        margin: 0;
        justify-content: center;
    }

    .button2, .button3, .button4 {
        display: none;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .input-field {
        width: 90%;
        margin: 10px 0;
    }

    .save-button {
        width: 90%;
    }
}
