.profile {
    background-color: #1a1a25;
    display: flex;
    justify-content: center;
    height: 10vh;
    margin-top: 20vh;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.avatar {
    border-radius: 50%;
}

.profile-name, .profile-email {
    padding: 10px;
    color: #c5c5d3;
    margin-left: 10px;
    font-weight: 550;
}

.profile-details {
    display: flex;
    flex-direction: column;
}